# Compiled class file
classes/*
!classes/.gitkeep

# Database (too big)
db/vp-2.0.0.db

# Log Files
jar/*.log

# Compiled class file
reports/*
!reports/.gitkeep

# result file
results/*
!results/.gitkeep
